@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 140px; 
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  padding: 16px 0px;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
}

.header__up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 16px;
}

.header__up__icon_button {
  background-color: inherit;
  border: none;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.header__up__icon_button:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  transition: all 0.2s;
}

.header__up .header__up__icon_button:active {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  transition: all 0.2s;
}

.header__up__a {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

.header__up > div {
  display: flex;
  gap: 8px;
}

header nav {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(114, 110, 141);
  font-size: 16px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  transition: all 0.2s;
}

header nav ul li a:hover {
  border-bottom: 1.5px solid rgb(114, 110, 141);
  padding-bottom: 2px;
  transition: all 0.2s;
}

body header nav ul li a:active {
  color: rgb(63, 61, 78);
  border-bottom: 1.5px solid rgb(63, 61, 78);
  transition: all 0.2s;
}

.home {
  margin-top: 56px;
  display: flex;
}

.home__first_block {
  width: 60%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(42, 37, 76);
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__first_block h1 {
  color: white;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
}

.home__first_block button {
  margin-top: 32px;
  color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 16px 40px;
  border: 0;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
}

.home__first_block button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.2s;
}

.home__first_block button:active {
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
}

.home__first_block p {
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.home__second_block {
  width: 40%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(131, 169, 172);
}

.home__second_block img {
  width: 100%;
  height: 100%;
  margin-bottom: -4px;
}

.differences {
  width: 100%;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.differences h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.differences > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.differences > div div {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.differences > div div h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
}

.differences > div div p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 320;
  text-align: justify;
}

.ceramics {
  width: 100%;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.ceramics h2 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.ceramics > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ceramics > div button {
  width: 23.5%;
  border: none;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.2s;
}

.ceramics > div button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(200, 200, 200, 0.1);
  transition: all 0.2s;
}

.ceramics > div button:active {
  transform: scale(1);
  box-shadow: 0 6px 15px rgba(200, 200, 200, 0.15);
  transition: all 0.2s;
}

.ceramics > div button img {
  border-radius: 6px;
}

.ceramics div button span:first-of-type {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  text-align: start;
}

.ceramics div button span:last-of-type {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  text-align: start;
}

.ceramics > button {
  align-self: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 16px 40px;
  border: 0;
  border-radius: 6px;
  background-color: rgba(140, 140, 140, 0.2);
  transition: all 0.2s;
}

.ceramics > button:hover {
  cursor: pointer;
  background-color: rgba(190, 190, 190, 0.2);
  transition: all 0.2s;
}

.ceramics > button:active {
  background-color: rgba(220, 220, 220, 0.2);
  transition: all 0.2s;
}

.popular {
  width: 100%;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.popular h2 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.popular > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popular > div > button:first-child {
  width: 48.774%;
}

.popular > div > button:not(:first-child) {
  width: 23.613%;
}

.popular > div button {
  border: none;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.2s;
}

.popular > div button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(200, 200, 200, 0.1);
  transition: all 0.2s;
}

.popular > div button:active {
  transform: scale(1);
  box-shadow: 0 6px 15px rgba(200, 200, 200, 0.15);
  transition: all 0.2s;
}

.popular > div button img {
  border-radius: 6px;
}

.popular > div button span:first-of-type {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  text-align: start;
}

.popular > div button span:last-of-type {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  text-align: start;
}

.popular > button {
  align-self: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 16px 40px;
  border: 0;
  border-radius: 6px;
  background-color: rgba(140, 140, 140, 0.2);
  transition: all 0.2s;
}

.popular > button:hover {
  cursor: pointer;
  background-color: rgba(190, 190, 190, 0.2);
  transition: all 0.2s;
}

.popular > button:active {
  background-color: rgba(220, 220, 220, 0.2);
  transition: all 0.2s;
}

.invitation {
  background: #f9f9f9;
  padding: 80px 24px;
  border-radius: 12px;
  width: 100%;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.invitation > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.invitation > div > h2 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

.invitation > div > p {
  max-width: 380px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 320;
  text-align: center;
}

.invitation > form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 420px;
}

.invitation > form > input {
  flex: 1;
  padding: 16px 24px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #efefef;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  color: black;
}

.invitation > form > input::placeholder {
  color: #bbbbbb;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
}

.invitation > form > button {
  background: rgb(42, 37, 76);
  color: white;
  padding: 0 32px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.invitation > form > button:hover {
  background: #1e1a3d;
  transition: all 0.2s;
}

.invitation > form > button:active {
  background: #141229;
  transition: all 0.2s;
}

.about {
  width: 100%;
  margin-top: 104px;
  display: flex;
}

.about > div {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about > div > div > h3 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: justify;
}

.about > div > div > p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 320;
  text-align: justify;
}

.about > div > button {
  align-self: flex-start;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 16px 40px;
  border: 0;
  border-radius: 6px;
  background-color: rgba(140, 140, 140, 0.2);
  transition: all 0.2s;
}

.about > div > button:hover {
  cursor: pointer;
  background-color: rgba(190, 190, 190, 0.2);
  transition: all 0.2s;
}

.about > div > button:active {
  background-color: rgba(220, 220, 220, 0.2);
  transition: all 0.2s;
}

.about > img {
  width: 50%;
  border: 1px solid rgb(200, 167, 148);
  border-radius: 10px;
}

footer {
  width: 100%;
  margin-top: 104px;
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: rgb(42, 37, 76);
}

.footer__up {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__up > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__up > div > h4 {
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(78, 77, 146);
}

.footer__up > div > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
}

.footer__up > div > ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 250;
  font-family: "Inter", sans-serif;
  transition: all 0.2s;
}

.footer__up > div > ul li a:hover {
  color: rgb(200, 200, 200);
  transition: all 0.2s;
}

.footer__up > div > ul li a:active {
  color: rgb(150, 150, 150);
  transition: all 0.2s;
}

.footer__up > div:last-child > form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  min-width: 300px;
}

.footer__up > div:last-child > form > input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: rgba(255, 255, 255, 0.15);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  color: white;
}

.footer__up > div:last-child > form > input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
}

.footer__up > div:last-child > form > button {
  background: white;
  color: rgb(78, 77, 146);
  padding: 0 16px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.footer__up > div:last-child > form > button:hover {
  background: rgb(240, 240, 240);
  transition: all 0.2s;
}

.footer__up > div:last-child > form > button:active {
  background: rgb(220, 220, 220);
  transition: all 0.2s;
}

.footer__down {
  margin-top: 48px;
  padding-top: 24px;
  border-top: 1px solid rgb(78, 77, 146);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__down > p {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.footer__down ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}

.scroll-to-top {
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.scroll-to-top:hover {
  background: white;
  transform: translateY(-3px);
}

.scroll-to-top.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
}
